/*body{
  overflow-x: hidden;
}*/ 
/*#form__input{
  position: absolute;
  height: 25vh;
  margin-top: -10%;
  margin-left:  110vw;
}*/

body {
    margin-top: 40px;
}

.ocultar {
    display: none;
}

.mostrar {
    display: none;
}